/* .config-panel {
  max-width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  border: none;
  padding: 0;
  background: none;
} */

/* .config-panel h2 {
 font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  color: #D32F2F;
  text-align: center;
} */

.config-label {
  display: flex;           /* align label and input inline */
  align-items: center;
  gap: 8px;
  font-weight: normal;
  font-size: 16px;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.config-input {
  width: 80px;             /* smaller input width */
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* .config-button {
  margin-top: 12px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
} */

/* Upload button */
.config-btn {
  width: 100%;
  padding: 10px;
  background-color: #D32F2F;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.config-btn:hover {
  background-color: #C2185B;
}

.config-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.config-status {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}
