.upload-container {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.drop-zone {
  border: 2px dashed #888;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  color: #666;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.drop-zone:hover {
  background-color: #8a8a8a;
  border-color: #555;
}

.drop-zone p {
  margin: 0;
  font-size: 16px;
  user-select: none;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
  overflow: auto;
  word-wrap: break-word;
  box-sizing: border-box;
} 

.preview-section h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.previews {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.preview-wrapper {
  display: flex;
  align-items: center;
  /* border: 1px solid #ddd; */
  padding: 8px;
  gap: 8px;
  /* border-radius: 4px; */
  width: 100%;
  position: relative;
}

.preview-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.file-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.file-name {
  font-size: 12px;
  word-break: break-word;
}

.remove-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  color: #D32F2F;
  transition: color 0.3s ease;
}
.remove-btn:hover {
  color: #900;
}

.upload-btn {
  margin-top: 16px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.upload-btn:hover {
  background-color: #2563eb;
}
