uploads/
configs/

# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# Build output (if using something like Babel or TypeScript)
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE-specific files (optional)
.vscode/
.idea/
*.swp

