.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

.status-text {
  color: white;
  white-space: pre-line;
}

.status-text.checking {
  color: gray;
}
