[Unit]
Description=Digital Signage Management Server
After=network.target

[Service]
WorkingDirectory=/home/pi/DigitalSignage/management-server
ExecStartPre=-/usr/bin/npm install --prefix /home/pi/DigitalSignage/management-server
ExecStartPre=-/usr/bin/npm install --prefix /home/pi/DigitalSignage/management-app
ExecStartPre=-/usr/bin/npm run build --prefix /home/pi/DigitalSignage/management-app
ExecStart=/usr/bin/node server.js
Restart=always
User=pi
Environment=NODE_ENV=production
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

